@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--nav-color); }
  .nav__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    list-style: none; }
  .nav__item--first {
    margin-right: auto; }
  .nav__link:link, .nav__link:visited, .nav__link:link, .nav__link:visited {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-color-1);
    text-align: center;
    padding: 1.5rem 3rem;
    border-radius: var(--border-radius-small);
    transition: all 0.3s; }
  .nav__link:hover, .nav__link:active, .nav__link:hover, .nav__link:active {
    color: var(--primary-color); }
  .nav__link:focus, .nav__link:focus-visible, .nav__link:focus, .nav__link:focus-visible {
    outline: none;
    background-color: var(--white-color);
    outline: 3px solid var(--primary-color);
    border-radius: var(--border-radius-medium);
    color: var(--primary-color); }
  .nav__link--first, .nav__link--first {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .nav__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-color);
  padding: var(--padding-default); }
  .skills__items {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr); }
  .skills__item {
    font-size: 3rem;
    width: 30rem;
    padding: 2rem 4rem;
    text-align: center;
    opacity: 1;
    transition: all 0.5s; }
    .skills__item:hover span {
      opacity: 0; }
    .skills__item--1:hover {
      background-image: url(../images/skills/html.jpg);
      background-size: cover;
      background-position: center; }
    .skills__item--2:hover {
      background-image: url(../images/skills/css.jpg);
      background-size: cover;
      background-position: center; }
    .skills__item--3:hover {
      background-image: url(../images/skills/javascript.jpg);
      background-size: cover;
      background-position: 25% 75%; }
    .skills__item--4:hover {
      background-image: url(../images/skills/angular.jpg);
      background-size: cover;
      background-position: center; }
    .skills__item--5:hover {
      background-image: url(../images/skills/csharp.jpg);
      background-size: cover;
      background-position: center; }
    .skills__item--6:hover {
      background-image: url(../images/skills/sql.jpg);
      background-size: cover;
      background-position: center; }
  .skills__img {
    width: 100%;
    height: auto; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: var(--padding-default); }
  .header__cartoon {
    width: 20rem;
    height: 19rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative; }
  .header__picture {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: circle(50%);
    width: 108%; }
  .header__buttons {
    display: flex;
    gap: 5rem; }

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .showcase__header {
    text-align: center; }
  .showcase__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem;
    margin: 0 auto;
    padding: 3rem 2rem; }
  .showcase__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow); }
  .showcase__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem; }

.footer {
  background-color: var(--nav-color);
  padding: var(--padding-default); }
  .footer__container {
    margin: 0 auto; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 8rem 0;
    border-bottom: 1px solid var(--grey-color-2); }
  .footer__myself {
    width: 40%; }
  .footer__link:link:link, .footer__link:link:visited, .footer__link:visited:link, .footer__link:visited:visited {
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-color-1);
    display: inline-block;
    background-color: transparent;
    transition: all 0.3s; }
  .footer__link:link:focus, .footer__link:link:focus-visible, .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:focus, .footer__link:visited:focus-visible, .footer__link:visited:hover, .footer__link:visited:active {
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .footer__link:not(:last-child) {
    margin-right: 2rem; }
  .footer__copy {
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem 0; }

.about {
  padding: var(--padding-default); }
  .about__text {
    position: relative;
    height: 100%;
    padding-left: 2rem; }
    .about__text::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3px;
      height: 0;
      background-color: var(--primary-color);
      transform: translateX(-50%) scaleY(0);
      transition: height 0.3s ease-out, transform 0.3s ease-out; }
    .about__text:hover::before {
      height: 100%;
      transform: translateX(-50%) scaleY(1); }

.work {
  padding: var(--padding-default); }
  .work__title {
    border-left: 3px solid var(--primary-color);
    padding-left: 2rem; }
  .work__container {
    padding-left: 3rem;
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-gap: 2rem;
    margin-top: 2rem; }
  .work__link {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out; }
    .work__link:hover {
      border-color: var(--primary-color); }
  .work__date {
    display: block;
    font-size: 1.2rem;
    margin: 0.3rem 0 0.5rem 0; }
  .work__aspects {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  .work__aspect {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem; }
  .work__icon {
    line-height: 1.7 !important;
    color: var(--primary-color); }

.studies {
  padding: var(--padding-default); }
  .studies__container {
    padding-left: 3rem; }
  .studies__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem;
    background-color: var(--tertiary-color);
    cursor: pointer; }
    .studies__header:hover {
      background-color: var(--quaternary-color); }
  .studies__icon {
    font-size: 2rem;
    width: 1.6rem;
    color: var(--primary-color); }
  .studies__date {
    margin-left: auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600; }
  .studies__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
    list-style: none; }
  .studies__link:link, .studies__link:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer; }
  .studies__link:hover, .studies__link:active {
    color: var(--primary-color); }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  gap: 5px; }

.btn, .btn:link, .btn:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem 3rem;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  background-color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s; }

.btn--cta {
  color: var(--secondary-color) !important;
  border: 3px solid var(--secondary-color) !important; }

.btn:focus, .btn:focus-visible, .btn:hover, .btn:active {
  outline: none;
  background-color: var(--primary-color);
  color: var(--white-color); }

.btn--cta:focus, .btn--cta:focus-visible, .btn--cta:hover, .btn--cta:active {
  background-color: var(--secondary-color);
  color: var(--white-color) !important; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  width: 70rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  transition: all 0.3s; }
  .card:hover {
    transform: translateY(-5px); }
  .card__header {
    text-align: center; }
  .card__image {
    width: 100%;
    border-radius: var(--border-radius-medium);
    background-color: var(--grey-color-2);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 100%; }

:root {
  --primary-color: #0dbf7b;
  --secondary-color: hsl(342, 87%, 40%);
  --tertiary-color: #058554;
  --quaternary-color: #07a468;
  --nav-color: #e6ffed;
  --white-color: #fff;
  --grey-color-1: #333;
  --grey-color-2: #ccc;
  --border-radius-small: 0.8rem;
  --border-radius-medium: 1rem;
  --padding-default: 3rem 5rem;
  --font-size-default: 1.8rem;
  --font-size-footer: 1.4rem;
  --font-size-heading-primary: 6rem;
  --font-size-heading-secondary: 4rem;
  --font-size-heading-tertiary: 3rem;
  --font-size-heading-quaternary: 2rem;
  --box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main {
  padding-top: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-huge {
  margin-top: 8rem; }

.u-max-width-big-center {
  max-width: 120rem;
  margin: 2rem auto; }

.hidden {
  display: none; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--grey-color-1); }

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
  font-weight: 700;
  line-height: 1.2; }

.heading-primary {
  font-size: var(--font-size-heading-primary); }

.heading-secondary {
  font-size: var(--font-size-heading-secondary); }

.heading-tertiary {
  font-size: var(--font-size-heading-tertiary); }

.heading-quaternary {
  font-size: var(--font-size-heading-quaternary); }

.paragraph {
  font-size: var(--font-size-default); }

.footer__paragraph {
  font-size: var(--font-size-footer); }

.fab {
  font-size: 2rem; }
