@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --primary-color: #0066cc; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-color); }

.nav {
  background-color: pink; }
  .nav__items {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    list-style: none; }
  .nav__item--first {
    margin-right: auto; }
  .nav__link:link, .nav__link:visited {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    text-align: center; }
  .nav__link--first {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .nav__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
