// Colors
:root {
  // Primary
  --primary-color: #0dbf7b;
  --secondary-color: hsl(342, 87%, 40%);
  --nav-color: #e6ffed;

  // Text Colors
  // Default colors
  --white-color: #fff;
  // Grey
  --grey-color-1: #333;
  --grey-color-2: #ccc;

  // Border radius
  --border-radius-small: 0.8rem;
  --border-radius-medium: 2rem;

  // Padding
  --padding-default: 3rem 5rem;

  // Font size
  --font-size-default: 1.8rem;
  --font-size-footer: 1.4rem;
  --font-size-heading-primary: 6rem;
  --font-size-heading-secondary: 3rem;
  --font-size-heading-tertiary: 2rem;
}
