// Colors
:root {
  // Primary
  --primary-color: #0dbf7b;

  // Text Colors
  // Default colors
  --white-color: #fff;
  // Grey
  --grey-color-1: #333;

  // Background Color
  // Pink
  --background-color: white;

  // Border radius
  --border-radius-small: 0.8rem;

  // Padding
  --padding-default: 1rem 5rem;
}
