.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 2rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-small);
  }

  &:focus {
    background-color: var(--background-color);
    color: var(--grey-color-1);
  }

  &:hover,
  &:active {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    outline: 3px solid var(--primary-color);
  }
}
