.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem 3rem;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius-medium);
    background-color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s;
  }

  &--cta {
    color: var(--secondary-color) !important;
    border: 3px solid var(--secondary-color) !important;
  }

  &:focus,
  &:focus-visible,
  &:hover,
  &:active {
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &--cta:focus,
  &--cta:focus-visible,
  &--cta:hover,
  &--cta:active {
    background-color: var(--secondary-color);
    color: var(--white-color) !important;
  }
}
