// ----------------------------------------------------------------------------
// Margins
// ----------------------------------------------------------------------------
.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-huge {
  margin-top: 8rem;
}

// ----------------------------------------------------------------------------
// Widths
// ----------------------------------------------------------------------------
.u-max-width-big-center {
  max-width: 120rem;
  margin: 2rem auto;
}

// ----------------------------------------------------------------------------
// Hide elements
// ----------------------------------------------------------------------------
.hidden {
  display: none;
}
