.about {
  padding: var(--padding-default);

  &__text {
    position: relative;
    height: 100%;
    padding-left: 2rem;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3px;
      height: 0;
      background-color: var(--primary-color);
      transform: translateX(-50%) scaleY(0);
      transition: height 0.3s ease-out, transform 0.3s ease-out;
    }

    &:hover::before {
      height: 100%;
      transform: translateX(-50%) scaleY(1);
    }
  }
}
