.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: var(--padding-default);

  &__cartoon {
    width: 20rem;
    height: 19rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
  }

  &__picture {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: circle(50%);
    width: 108%;
  }

  &__buttons {
    display: flex;
    gap: 5rem;
  }
}
