.left-side {
  background-color: rgb(154, 152, 152);
  padding: 2rem 4rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;

  &__social {
    align-self: flex-start;
    margin-top: 2rem;
  }

  &__social::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: var(--grey-color-2);
    margin-bottom: 2rem;
  }

  &__image {
    width: 15rem;
    border-radius: 50%;
  }

  &__list {
    list-style: none;
  }

  &__link {
    color: var(--grey-color-2);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    padding: 1rem 0;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
  }

  &__link:hover {
    color: #fff;
    transform: translateX(1rem);
  }

  &__heading-secondary {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__heading-tertiary {
    font-size: 2rem;
    font-weight: 500;
  }

  &__paragraph {
    font-size: 1.5rem !important;
    font-weight: 300;
  }
}
