.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  background-color: var(--nav-color);
  // Nav items
  &__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    list-style: none;
  }

  &__item {
    &--first {
      margin-right: auto;
    }
  }

  &__link,
  &__link {
    &:link,
    &:visited {
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--grey-color-1);
      text-align: center;
      padding: 1.5rem 3rem;
      border-radius: var(--border-radius-small);
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: var(--primary-color);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      background-color: var(--white-color);
      outline: 3px solid var(--primary-color);
      border-radius: var(--border-radius-medium);
      color: var(--primary-color);
    }

    &--first {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
}
