.nav {
  // Nav items
  &__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: var(--padding-default);
    list-style: none;
  }

  &__item {
    &--first {
      margin-right: auto;
    }
  }

  &__link,
  &__link {
    &:link,
    &:visited {
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--grey-color-1);
      text-align: center;
      padding: 1.5rem 3rem;
      border-radius: var(--border-radius-small);
    }

    &:hover,
    &:active {
      color: var(--primary-color);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      background-color: var(--white-color);
      outline: 3px solid var(--primary-color);
      border-radius: var(--border-radius-medium);
      color: var(--primary-color);
    }

    &--first {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
}
