.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--primary-color);
  padding: var(--padding-default);

  &__items {
    width: 120rem;
    margin: 0 auto;
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    font-size: 3rem;
    width: 30rem;
    padding: 2rem 4rem;
    text-align: center;
    opacity: 1;

    &:hover span {
      opacity: 0;
    }

    &:hover {
      background-size: cover;
      background-position: center;
    }

    &--1:hover {
      background-image: url(../images/skills/html.jpg);
    }

    &--2:hover {
      background-image: url(../images/skills/css.jpg);
      background-size: cover;
    }

    &--3:hover {
      background-image: url(../images/skills/javascript.jpg);
      background-size: cover;
      background-position: left;
    }

    &--4:hover {
      background-image: url(../images/skills/angular.jpg);
      background-size: cover;
    }

    &--5:hover {
      background-image: url(../images/skills/c-sharp.jpg);
      background-size: cover;
    }

    &--6:hover {
      background-image: url(../images/skills/sql.jpg);
      background-size: cover;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
